<IfModule mod_rewrite.c> 
RewriteEngine on 
 
# >>> This tells the server if the requested file doesn't exist, 
# >>> look for a file with ".php" instead and load that. 
# >>> "/something" isn't found, server looks for "/something.php" 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.php -f 
RewriteRule ^(.+)$ $1.php [L,QSA] 
 
# >>> This tells the server to look for the file with .php 
# >>> If the file exists, return a 410/Gone response. 
# >>> "something.php" exists, server doesn't load it, instead gives 410 response 
RewriteCond %{REQUEST_FILENAME} -f 
RewriteCond %{THE_REQUEST} \/$|\.php\ HTTP [NC] 
RewriteRule ^(.*)$ - [G,L] 
# === Alternative - use the below to request a non-existing file, and thus get a 404 response 
#RewriteRule ^(.*)$ /fake-file-for-a.404 [L] 
</IfModule> 